legacy-peer-deps=false
strict-ssl=true
registry=https://registry.npmjs.org/
progress=false
fund=false
audit=false
# proxy=${NPM_CONFIG_PROXY}
# https-proxy=${NPM_CONFIG_HTTPS_PROXY}
; default loglevel kept for local dev; CI uses --loglevel=error via script
